


#videoplayer {
    position: absolute;
    bottom: 60px;
    text-align: center;
    pointer-events: none!important;
    z-index: 10000;
    display:none!important;

}


#videoplayerInner {
    display: inline-block;
    pointer-events: auto;
    z-index: 2 !important;

}





#videoplayerInner .mejs-mediaelement {
    text-align: center;
}


#videoplayer.scaleVideo1{

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;

}

#videoplayer.scaleVideo2{

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;

}



#videoplayer.animate {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

#videoplayer.animatefast {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all  0.2s ease;
    transition: all  0.2s ease;
}



#videoplayerInner{
    border: 1px solid #000;
    background:#000!important;
}







#videocontrols {
    overflow: visible;
    z-index:  1000001;
    position: absolute;
    bottom: -1px;

    height: 45px;
    left: 0px;

    background-color: #1d1d1d /*{b-bar-background-color}*/;
    border-color: #1b1b1b /*{b-bar-border}*/;
    color: #fff /*{b-bar-color}*/;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #111 /*{b-bar-shadow-color}*/;
    font-weight: bold;

    white-space: nowrap
}

#videocontrolsInner{
    overflow: visible;
    display: block!important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    opacity: 0;
    width: auto;
    text-align: center;
}

#videocontrolsInner .videoControlElements-smallProgress{
    pointer-events:none;
    position: absolute;
    top:0;
    left:0;
    height:2px;
    background-color: rgba(78,183,212,0.8);
    display:none;
}




/*Container*/
.videoControlElements-container {
    font-family: Helvetica, Arial;
    text-align: left;
    text-indent: 0;
}

 .videoControlElements-container .ui-shadow{
     -webkit-box-shadow: none!important /*{global-box-shadow-size}; */
     box-shadow: none!important /*{global-box-shadow-size}; */
 }





 .videoControlElements-controls {
     pointer-events: auto;

     width:auto!important;
     -webkit-transform: scale(1.5);
     transform: scale(1.5);

     -webkit-transform-origin: 50% 100%;
     transform-origin: 50% 100%;
 }



 .videoControlElements-controls button{
     text-shadow: none!important;
 }

 .videoControlElements-controls .ui-shadow {
     -webkit-box-shadow:  none!important;
     -moz-box-shadow:  none!important;
     box-shadow:  none!important;
 }

 .videoControlElements-container .videoControlElements-controls {
     overflow: visible;
     white-space: nowrap;
     display: inline-block;
     margin-top: 15px;
     margin-bottom: 0;
     padding: 0;
     background: none;
     background: rgba(0, 0, 0, 0.7);
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
     background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
     background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
     background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
     background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
     background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));
     height: 30px;

 }
  /*
   position: absolute;
     bottom: 0;
     left: 0;
  */

 .videoControlElements-controls .mejs-play button.looped {
     background-position: -64px 0px !important;
 }






 .videoControlElements-controls .videoControlElements-button button:focus {
     outline: none !important;
 }



 .videoControlElements-volume-button{
     opacity:1!important;
 }




 #videocontrols  .videoControlElements-time-rail {
     -webkit-transition: all 0.1s ease;
     -moz-transition: all 0.1s ease;
     -o-transition: all 0.1s ease;
     transition: all 0.1s ease;
 }

 #videocontrolsInner .videoControlElements-controls {
     background: none!important;
     /*
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(20,20,20,0.9)), to(rgba(0,0,0,0.9)))!important;
     background: -webkit-linear-gradient(top, rgba(20,20,20,0.9), rgba(0,0,0,0.9))!important;
     background: -moz-linear-gradient(top, rgba(20,20,20,0.9), rgba(0,0,0,0.9))!important;
     background: -o-linear-gradient(top, rgba(20,20,20,0.9), rgba(0,0,0,0.9))!important;
     background: -ms-linear-gradient(top, rgba(20,20,20,0.9), rgba(0,0,0,0.9))!important;
     background: linear-gradient(rgba(44,40,40,0.9), rgba(0,0,0,0.9))!important;
     */
 }


#videocontrolsInner {
    background: rgba(29,29,29,0.6)!important;
}


/*Volume slider*/
 .videoControlElements-controls .videoControlElements-volume-button .videoControlElements-volume-slider {
     display: none;
     height: 115px;
     width: 25px;
     background: none;
     background: rgba(50, 50, 50, 0.9);
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
     top: -115px;
     z-index: 1;
     position: absolute;
     margin: 0;
 }

 .videoControlElements-controls .videoControlElements-volume-button .videoControlElements-volume-slider .videoControlElements-volume-total {
     position: absolute;
     left: 11px;
     top: 8px;
     width: 2px;
     height: 100px;
     background: #ddd;
     background: rgba(255, 255, 255, 0.5);
     margin: 0;
 }

 .videoControlElements-controls .videoControlElements-volume-button .videoControlElements-volume-slider .videoControlElements-volume-current {
     position: absolute;
     left: 11px;
     top: 8px;
     width: 2px;
     height: 100px;
     background: #ddd;
     background: rgba(255, 255, 255, 0.9);
     margin: 0;
     -webkit-transition: all 0.15s ease;
     /*FIREFOX SLOW*/
 }

 .videoControlElements-controls .videoControlElements-volume-button .videoControlElements-volume-slider .videoControlElements-volume-handle {
     position: absolute;
     left: 4px;
     top: -3px;
     width: 16px;
     height: 6px;
     background: #ddd;
     background: rgba(255, 255, 255, 0.9);
     cursor: N-resize;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     border-radius: 1px;
     margin: 0;
     -webkit-transition: all 0.15s ease;
     /*FIREFOX SLOW*/
 }


 /*Video Slider*/
  /*
#videocontrols .videoControlElements-fullscreen-button button{
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}   */


#videocontrols .videoControlElements-fullscreen-button button{
    background-image: url(fullscreen.png);
    background-position:0 0;
    background-size: 16px ;

}

#videocontrols .videoControlElements-gridlayout-button button{
    background-image: url(gridlayout.png);
    background-position:0 0;
    background-size: 16px ;

}



/*OPACITY slider*/
.videoControlElements-controls .videoControlElements-gridlayout-button .videoControlElements-fullscreen-slider {
    display: none;
    height: 115px;
    width: 25px;


    background: rgba(50, 50, 50, 0.9);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: -115px;
    z-index: 1;
    position: absolute;
    margin: 0;
}

.videoControlElements-controls .videoControlElements-gridlayout-button .videoControlElements-fullscreen-slider .videoControlElements-fullscreen-total {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.videoControlElements-controls .videoControlElements-gridlayout-button .videoControlElements-fullscreen-slider .videoControlElements-fullscreen-current {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
    -webkit-transition: all 0.15s ease;
    /*FIREFOX SLOW*/
}

.videoControlElements-controls .videoControlElements-gridlayout-button .videoControlElements-fullscreen-slider .videoControlElements-fullscreen-handle {
    position: absolute;
    left: 4px;
    top: -3px;
    width: 16px;
    height: 6px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    cursor: N-resize;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0;
    -webkit-transition: all 0.15s ease;
    /*FIREFOX SLOW*/
}




/* Playing Time */

 .videoControlElements-container .videoControlElements-controls .videoControlElements-time {
     color: #fff;
     display: block;
     height: 17px;
     width: auto;
     padding: 8px 3px 0 3px;
     overflow: hidden;
     text-align: center;
     -moz-box-sizing: content-box;
     -webkit-box-sizing: content-box;
     box-sizing: content-box;
 }


 .videoControlElements-container .videoControlElements-controls .videoControlElements-time span {
     color: #fff;
     font-size: 11px;
     line-height: 12px;
     display: block;
     float: left;
     margin: 1px 2px 0 0;
     width: auto;
 }


/* Time Rail */

 .videoControlElements-controls div.videoControlElements-time-rail {
     direction: ltr;
     width: 200px;
     padding-top: 5px!important;
 }

 .videoControlElements-controls .videoControlElements-time-rail span {
     display: block;
     position: absolute;
     width: 180px;
     height: 10px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     cursor: pointer;
 }

 .videoControlElements-controls .videoControlElements-time-rail .videoControlElements-time-total {
     margin: 5px;
     background: #333;
     background: rgba(50,50,50,0.8);
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
     background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
     background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
     background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
     background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
     background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));
 }


 .videoControlElements-controls .videoControlElements-time-rail .videoControlElements-time-buffering {
     width: 100%;
     background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
     background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
     background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
     background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
     background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
     background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
     -webkit-background-size: 15px 15px;
     -moz-background-size: 15px 15px;
     -o-background-size: 15px 15px;
     background-size: 15px 15px;
     -webkit-animation: buffering-stripes 2s linear infinite;
     -moz-animation: buffering-stripes 2s linear infinite;
     -ms-animation: buffering-stripes 2s linear infinite;
     -o-animation: buffering-stripes 2s linear infinite;
     animation: buffering-stripes 2s linear infinite;
 }

 .videoControlElements-controls .videoControlElements-time-rail .videoControlElements-time-loaded {
     background: #3caac8;
     background: rgba(60,170,200,0.8);
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 150, 189,0.8)), to(rgba(78,183,212,0.8)));
     background: -webkit-linear-gradient(top, rgba(0, 150, 189,0.8), rgba(78,183,212,0.8));
     background: -moz-linear-gradient(top, rgba(0, 150, 189,0.8), rgba(78,183,212,0.8));
     background: -o-linear-gradient(top, rgba(0, 150, 189,0.8), rgba(78,183,212,0.8));
     background: -ms-linear-gradient(top, rgba0, 150, 189,0.8), rgba(78,183,212,0.8));

     background: linear-gradient(rgba(0, 150, 189,0.8), rgba(78,183,212,0.8));
     width: 0;
     -webkit-transition: width 0.3s linear;
     -moz-transition: width 0.3s linear;
     -ms-transition: width 0.3s linear;
     -o-transition: width 0.3s linear;
     transition: width 0.3s linear;
 }


 .videoControlElements-controls .videoControlElements-time-rail .videoControlElements-time-current {
     background: #fff;
     background: rgba(255,255,255,0.8);
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
     background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
     background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
     background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
     background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
     background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
     width: 0;
     -webkit-transition: width 0.3s linear;
     -moz-transition: width 0.3s linear;
     -ms-transition: width 0.3s linear;
     -o-transition: width 0.3s linear;
     transition: width 0.3s linear;
 }

 .videoControlElements-controls .videoControlElements-time-rail .videoControlElements-time-handle {
     display: none;
     position: absolute;
     margin: 0;
     width: 10px;
     background: #fff;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     cursor: pointer;
     border: solid 2px #333;
     top: -2px;
     text-align: center;
 }

 .videoControlElements-controls .videoControlElements-time-rail .videoControlElements-time-float {
     position: absolute;
     display: none;
     background: #eee;
     width: 36px;
     height: 17px;
     border: solid 1px #333;
     top: -26px;
     margin-left: -18px;
     text-align: center;
     color: #111;
 }


 /* Song Length Time */


 /* Button */
.videoControlElements-container .videoControlElements-controls div {
    overflow: visible;
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 11px;
    line-height: 11px;
    font-family: Helvetica, Arial;
    border: 0;
}

 .videoControlElements-controls .videoControlElements-button button:hover {
     background-color:transparent !important ;
     border-color: transparent !important;
     color: #fff !important;
     text-shadow: none !important;
 }

 .videoControlElements-controls .videoControlElements-button button:focus {
     -webkit-box-shadow: none!important;
     -moz-box-shadow:  none!important;
     box-shadow:  none!important;
 }



 /* Inner Button */

.videoControlElements-controls .videoControlElements-button button {
     cursor: pointer;
     display: block;
     font-size: 0;
     line-height: 0;
     text-decoration: none;
     margin: 7px 5px;
     padding: 0;
     position: absolute;
     height: 16px;
     width: 16px;
     border: 0;
     background: transparent url(controls.svg) no-repeat;
}

.videoControlElements-button button {
     cursor: default !important;
}

/*Bigger play button*/
 .videoControlElements-prevtrack-button{
     margin-right: 5px!important;
 }
 .videoControlElements-playpause-button {
     margin-right: 2px!important;
 }
 .videoControlElements-playpause-button {
     -webkit-transform: scale(1.7);
     transform: scale(1.7);
     -webkit-transform-origin: 50% 55%;
     transform-origin: 50% 55%;
 }
 

/* Prev Button */

 .videoControlElements-controls .videoControlElements-prevtrack button {
     background: transparent url(controls-playlist.png) no-repeat;
     background-position: 0 -16px!important;
 }




/* Play Button */

 .videoControlElements-controls .videoControlElements-play button {
     background-position: 0 0;
 }

 .videoControlElements-controls .videoControlElements-pause button {
     background-position: 0 -16px;
 }


 .videoControlElements-controls .videoControlElements-play button.looped, .videoControlElements-controls .videoControlElements-pause button.looped {
     background-position: -64px 0px !important;
 }

 /* Stop Button */

 .videoControlElements-controls .videoControlElements-stop button {
     background-position: -112px 0;
 }

 /*Next Button */

 .videoControlElements-controls .videoControlElements-nexttrack button {
     background: transparent url(controls-playlist.png) no-repeat;
 }

 /* Shuffle Button */

 .videoControlElements-controls .videoControlElements-shuffle-off button {
     background: transparent url(controls-playlist.png) no-repeat;
     background-position: -32px 0px;
 }

 /* Mute Button */
 .videoControlElements-controls .videoControlElements-mute button {
     background-position: -16px -16px;
 }

 .videoControlElements-controls .videoControlElements-unmute button {
     background-position: -16px 0;
 }

 /* Fullscreen Button */

 .videoControlElements-controls .videoControlElements-fullscreen-button button {
     background-position: -32px 0;
 }

 /* Customn Buttons */


 /**/

 .videoControlElements-controls .videoControlElements-button-choose-version button {

     background: transparent url(editdarker.png) no-repeat;
     background-size: 16px;
 }

.videoControlElements-controls .videoControlElements-button-share button {

    background: transparent url(sharemedia.png) no-repeat;
    background-size: 16px;
}

 .videoControlElements-controls .videoControlElements-button-lyrics button {

     background: transparent url(lyrics.png) no-repeat;
     background-size: 16px;
 }

 .videoControlElements-controls .videoControlElements-button-facebook button {

     background: transparent url(facebook.png) no-repeat;
     background-size: 16px;
 }


 .videoControlElements-controls .videoControlElements-button-copyright button {

     background: transparent url(copyright.png) no-repeat;
     background-size: 16px;
 }

.videoControlElements-controls .videoControlElements-button-external button {
    background: transparent url(externalsite.png) no-repeat;
    background-size: 16px;
}








