.fbb-like {
    margin-top: -39px;
}


#fbblike{
    height: 55px!important;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    margin-top: -12px;
    margin-right: 4px;
    -webkit-transform: scale(0.80);
    -webkit-transform-origin: 100% 100%!important;
    transform: scale(0.80);
    transform-origin: 100% 100%!important;
}

#popupArtist .fb-like{
    margin-top: 1px;
}

#popupArtist .fb_iframe_widget iframe {
    bottom: 0!important;
}