/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #fff;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%!important;
    position:fixed;
    top: 0px;
    left:0px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;

}


/*Content*/

/*Big Screen*/
@media (min-width:850px) {

    #controlbar .ui-input-search {
        float: left;
    }

    #searchlist {
        margin-top: 5px !important;
    }

    #controlselectvertical {
        display: none;
    }

    #controlbar {
        margin-top: -10px;
    }

    #controlbar .ui-input-search {
        width: 280px;
    }

}

/*Smaller Screen*/
@media (min-width:1080px) {

    #playlist {
        top: 0px;
    }

    #openSidePanelBarIcon, #openSidePanelBarIconBar {
        display: none;
    }
}

/*Small Screen*/
@media (min-width:850px) and  (max-width:1079px) {
    #playlist {
        top: 60px !important;
    }


}

/*Small Screen*/
@media (max-width:849px) {

    #controlbar {
        text-align: left;
    }




    #controlbar .ui-input-search {
        display: inline-block;
    }

    #controlbar .ui-input-btn {
        display: none!important;
    }

    #controlbar .ui-select {
        width: 340px !important;
    }

    #controlbar .ui-input-search {
        width: 300px;
    }


    #controlbar .ui-input-btn {
        margin-bottom: 0px !important;
    }


    #content {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;

    }

    #searchlist {
        margin-top: 50px;
    }

    #controlbar .ui-input-search {
        margin-bottom: 0px !important;
    }

}

/*Bigger as Smallest Screen*/
@media (min-width:670px) {

    #playlist {
        top: 0px;
        right: 10px;
    }

    #openSidePanelBarIcon, #openSidePanelBarIconBar {
        display: none;
    }



    #searchlist {
        width: 52%;
    }

}

/*Smallest Screen*/
@media (max-width:669px) {


    .videoControlElements-stop-button{
        display:none!important;
    }

    #playingSongInfoLink{
     display:none!important;
    }

     #header a{
         font-size:12px!important;
     }


    .ui-btn-right {
        right: 2.4em!important;
    }

    #playlist {
        margin-top: -5px;
        left: 10px;

    }

    #playlistselectvertical .chosen-container {
        min-width: 180px !important;
        max-width: 180px !important;
    }

    #sortplaylisttext {
        width: 189px !important;
        max-width: 189px !important;

    }


}

/*Small Screen*/
@media (max-height:350px) {


}


/*Small TimeRail Screen*/
@media (max-width:420px) {

    .videoControlElements-duration-container, .videoControlElements-button-choose-version, #videocontrols .videoControlElements-time-rail , .videoControlElements-button-lyrics,#lyricsiframe {
        display:none!important;
    }


}


/*
input[type=button]{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809))!important;
    color: white!important;
    border: none;
}
*/


/* button hover style if required */
.ui-input-btn:hover {

}
/* generated element for shine effect.
 * normal state is semi-transparent
 * white but with zero width. Set no
 * transition here for no mouse-leave
 * animations. Otherwise the effect
 * will play in reverse when your mouse
 * leaves the element
 */
.ui-input-btn:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out
 */
.ui-input-btn:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


#lyricsiframe {
    position: absolute;
    top: 44px;
    left: 0px;
    bottom: 45px!important;
    width: 450px;
    z-index: 1000;
    opacity: 0.945;
    z-index:10000!important;
    background: rgba(29,29,29,0.9);
}
#lyricsifrm{
    position:absolute;
    top:0px;
    height: 0px;
    width: 420px;
    height:100%;
    border:none!important;
    z-index:10002!important;

}

#lyricsifrmback{
    position:absolute;
    top:0;
    height: 0;
    width: 420px;
    height:100%;
    background: rgba(255,255,255,1);
    z-index:10001!important;


}



#content {
    position: absolute;
    z-index: 1;

}

#controlbar .ui-input-search.animated, #controlbar .ui-input-btn.animated{
    -webkit-transition: all 0.28s ease-out;
    -moz-transition: all 0.28s ease-out;
    -o-transition: all 0.28s ease-out;
    transition: all 0.28s ease-out;
}



#controlbar .ui-input-search {
    margin-right: 10px;;

}
#controlbar .ui-input-btn{
    cursor:hand!important ;
}

#controlbar .ui-input-btn {
    float: left;
    margin-right: 10px;;
    padding: .5em 1em;

}

#controlbar input.ui-btn {

}



.draggedlistelement {
    z-index: 2000 !important;
    padding: 0;
    list-style: none;
  /*  background: #4617B4 !important;*/



    border: none !important;
    margin: 0px !important;
}

.draggedlistelement .removesong{
      display:none!important;
}


.draggedlistelement .margintop{

    margin-top: -5px!important;

}



.draggedlistelement li a {
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(70,23,180,1), endColorstr=rgba(70,23,180,1))!important;
    background-image:-moz-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(70,23,180,1)), color-stop(44%,rgba(70,23,180,1)),color-stop(100%,rgba(70,23,180,0)))!important;



    padding: 0;
    border: none !important;
    color: #fff !important;
    min-height: 1.25em;
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;

    margin-left:3px!important;
    white-space: nowrap;

    padding-left: 4.8em !important;
    padding-top: 0.2em !important;

    padding-bottom: 0.8em !important;

    padding-right: 2.5em !important;

}

.draggedlistelement li a h3{
font-size: 1em;
font-weight: bold;
display: block;
margin: .45em 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
text-align: left;
    color: #fff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/;
}

.draggedlistelement li a p{
font-size: .75em;
font-weight: normal;
display: block;
margin: .6em 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}


.draggedlistelement li a img {
    position: absolute !important;
    left: 5px !important;
    top: .9em !important;
    background-size:100%;
    text-align: left;
    white-space: nowrap;
    line-height: 1.3;
    height: 4em !important;
    width: 4em !important;
    -webkit-transform: scale(1.3);
    transform: scale(1.3)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
}

.draggedlistelement li  a:after {
    display: none;
}

#searchlist {
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 10px;
    height: 100%;
    background: none;
    overflow: hidden;
    padding-top: 5px;
}

#searchlist {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



#searchlist ul {
    margin-left: 15px !important;
    width: 80%;
}

#searchlistview {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 500%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;

}

#searchlist a {
    background: none ;
    border: none !important;
}

#searchlist a img{
  height: 3.3em;
  width: 3.3em;
}


.songlist{

    margin-bottom:15px!important;
}

.songlist li{
    height:65px!important;
}

#searchlist li.selected a, #playlistInner li.selected a{

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(78,183,212,0.6), endColorstr=rgba(78,183,212,0.6))!important;
    background-image:-moz-linear-gradient(left, rgba(78,183,212,0.6) 0%, rgba(78,183,212,0.6) 44%,rgba(78,183,212,0) 100%)!important;
    background-image: linear-gradient(left, rgba(78,183,212,0.6) 0%, rgba(78,183,212,0.6) 44%,rgba(78,183,212,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(78,183,212,0.6) 0%, rgba(78,183,212,0.6) 44%,rgba(78,183,212,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(78,183,212,0.6) 0%, rgba(78,183,212,0.6) 44%,rgba(78,183,212,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(78,183,212,0.6) 0%, rgba(78,183,212,0.6) 44%,rgba(78,183,212,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(78,183,212,0.6)), color-stop(44%,rgba(78,183,212,0.6)),color-stop(100%,rgba(78,183,212,0)))!important;

    border: none !important;
}




.songlist   li a  {
   overflow:visible!important;
    margin-left: 5px!important;
}

.songlist li a img.ui-li-icon{
    left: 5px!important;


}


.songlist li:hover a img.ui-li-icon,.songlist li:hover a img.loadingSongImg {
    -webkit-transform: scale(1.21);
    transform: scale(1.21)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
    z-index:10;
    overflow:visible;
    -moz-box-shadow: 3px 0p 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 0px 5px rgba(0,0,0,0.4);
    box-shadow: 3px 0px 5px rgba(0,0,0,0.4);
}



.songlist li.loadedsong:hover a img{

-moz-box-shadow: none!important;
-webkit-box-shadow: none!important;
box-shadow: none!important;
 }

video{
    -moz-box-shadow: 5px 5p 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 15px 5px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}



.iframeVideo{
    width:100%!important;
    height:100%!important;
    background-color:#000!important;
    opacity:1;
    z-index: 2;
}


.songlist li.loadedsong.stillloading:hover a img.ui-li-icon {

    -moz-box-shadow: 5px 0p 5px rgba(0,0,0,0.4)!important;
    -webkit-box-shadow: 5px 0px 5px rgba(0,0,0,0.4)!important;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.4)!important;
}



#searchlist a:after {
    display: none;
}

#searchlist a:hover {
    /*background: #7700b4 !important; /* #4617B4*/

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(119,0,180,1), endColorstr=rgba(119,0,180,1))!important;
    background-image:-moz-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(119,0,180,1)), color-stop(44%,rgba(119,0,180,1)),color-stop(100%,rgba(119,0,180,0)))!important;

    border: none !important;
}

/*
#searchlist li.playing a:hover,#searchlist li.pausing a:hover {

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(124, 0, 172,1), endColorstr=rgba(124, 0, 172,1))!important;
    background-image:-moz-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(124, 0, 172,1)), color-stop(44%,rgba(124, 0, 172,1)),color-stop(100%,rgba(124, 0, 172,0)))!important;




    border: none !important;
}
*/


.ui-li-has-icon img.removesong{
    max-height: 1.8em!important;
    max-width: 1.6em!important;
    margin-top: -0.3em!important;
    position: absolute;
    right: 0.6em;
    top: .9em;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.ui-li-has-icon img.removesong:hover{
   background-image:url(../img/trashopen.png)!important ;
   background-size:100%;
    background-repeat:no-repeat;

}


#playlist {
    position: absolute;
    z-index: 1;
    height: 100%;
    background: none;
    overflow: hidden;
    min-width: 250px;
    padding-bottom:1px;
    max-height:0px;
    padding-left: 10px;
    background-color:rgba(255,255,255,0.1);
}


#playlistInner.animate{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


#playlistInner li.animatetoslow{
    -webkit-transition: all 10000s ease;
    -moz-transition: all 10000s ease;
    -o-transition: all 10000s ease;
    transition: all 10000s ease;
}



.songlist li.loadedsong a{
  /*  background-color:rgba(255,255,255,0.3) !important;*/


    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(255,255,255,0.3), endColorstr=rgba(255,255,255,0))!important;
    background-image:-moz-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(44%,rgba(255,255,255,0.3)),color-stop(100%,rgba(255,255,255,0)))!important;



}

.songlist li img.ui-li-icon {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.songlist li.loadedsong.playing img.ui-li-icon{
    transition: all 0.3s ease;
    background-image:url(../img/play.png)!important;
    background-size:100%;
    background-position: 0px 0px!important;

}




.songlist li.loadedsong.stillloading img.ui-li-icon {
    opacity:1;
}

.songlist li.loadedsong.stillloading .loadingSongImg{
   /* background-image:url(../img/songload.gif)!important;
    background-size:9;*/
    max-width: 46px!important;
    max-height: 46px!important;
    margin-left:3px!important;
    margin-top:-5px!important;
    background-size:auto!important;
    position: absolute;
    left: 5.5px!important;
    top: 14px;
    opacity:0.65!important;
    -webkit-transform: scale(0.77);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transforme;
    z-index:10;

}




.songlist li.loadedsong.pausing img.ui-li-icon {
    background-image:url(../img/pause.png)!important;
    background-size:100%;
    background-position: 0px 0px!important;

}


#playlistInner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    height: 100%;
    background: none;
    overflow: hidden;
    margin-left: -8px;
    margin-top:-9px;
    padding-top:5px;
}

#playlistInner ul {
    margin-left: 15px !important;
    width:100%;
}

#playlistInner li {
   min-width: 250px;
}

#playlistInner .ui-sortable-placeholder{
  /* background:      rgba(255,255,255,0.1);*/
   visibility: visible!important;
   height:65px!important;

}



.songlist li a{
    height:51px!important;

}


#playlistview {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 500%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    min-height:99%;


}

#playlistInner a {
    background: none ;
    border: none !important;
}

#playlistInner a img{
    height: 3.3em;
    width: 3.3em;
}


#playlistInner a:after {
    display: none;
}

#playlistInner a:hover {
  /*  background: #4617B4 !important;*/

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(70,23,180,1), endColorstr=rgba(70,23,180,1))!important;
    background-image:-moz-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(70,23,180,1)), color-stop(44%,rgba(70,23,180,1)),color-stop(100%,rgba(70,23,180,0)))!important;

    border: none !important;
}

/*
#playlistInner li.playing a:hover,#playlistInner li.pausing a:hover {

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(68, 25, 158,1), endColorstr=rgba(68, 25, 158,1))!important;
    background-image:-moz-linear-gradient(left, rgba(68, 25, 158,1) 0%, rgba(68, 25, 158,1) 44%,rgba(68, 25, 158,0) 100%)!important;
    background-image:linear-gradient(left, rgba(68, 25, 158,1) 0%, rgba(68, 25, 158,1) 44%,rgba(68, 25, 158,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(68, 25, 158,1) 0%, rgba(68, 25, 158,1) 44%,rgba(68, 25, 158,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(68, 25, 158,1) 0%, rgba(68, 25, 158,1) 44%,rgba(68, 25, 158,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(68, 25, 158,1) 0%, rgba(68, 25, 158,1) 44%,rgba(68, 25, 158,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(68, 25, 158,1)), color-stop(44%,rgba(68, 25, 158,1)),color-stop(100%,rgba(68, 25, 158,0)))!important;



    border: none !important;
}

*/



.bounce {
    -webkit-animation:bounce .6s linear ;
    -webkit-animation-fill-mode: forwards;
    -moz-animation:bounce .6s linear ;
    -moz-animation-fill-mode: forwards;
    animation:bounce .6s linear ;
    animation-fill-mode: forwards;
}

@-moz-keyframes bounce {
    0%{ -moz-transform:scale(0); opacity:0;}
    50%{ -moz-transform:scale(1.4); opacity:0.4; }
    75%{ -moz-transform:scale(0.9); opacity:0.7;}
    100%{ -moz-transform:scale(1); opacity:1;}
}

@-webkit-keyframes bounce {
    0%{ -webkit-transform:scale(0); opacity:0;}
    50%{ -webkit-transform:scale(1.4); opacity:0.4;}
    75%{ -webkit-transform:scale(0.9); opacity:0.7;}
    100%{ -webkit-transform:scale(1); opacity:1;}
}

@keyframes bounce {
    0%{ -moz-transform:scale(0); opacity:0;}
    50%{ -moz-transform:scale(1.4); opacity:0.4; }
    75%{ -moz-transform:scale(0.9); opacity:0.7;}
    100%{ -moz-transform:scale(1); opacity:1;}
}



#playlisthelp{
    z-index:2;
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    opacity:0.6;
    font-size:22px;
    font-weight:bold;
}


#playlisthelp:hover{
    opacity:1!important;
}
#playlisthelp {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}




#controlbarplaylist{

    margin-top: 22px;
}


#playlistselectvertical {
    margin-top: -5px;
    float: left;

}


#saveplaylistinput{
    margin-top: -15px;
    float: left;
}

#saveplaylistinput input{
    line-height: 1.2em!important;
    min-height: 34px!important;
}



 #sortplaylisttext {
     margin-top: 0px;
     float: left;
     margin-left: 10px;
     overflow: hidden;
     max-height: 20px;
 }





.chosen-container .chosen-drop {
     color: #000 !important;
 }

 #sortplaylistbutton {
     float: left;
     margin-top: -13px;
     margin-left: 5px;
 }

 #sortplaylistbutton .ui-btn {
     padding: 0.4em 0.5em 0.3em 0.4em !important;
 }

#saveokayplaylistbutton {
    float: left;
    margin-top: -13px;
    margin-left: 5px;

}

#saveokayplaylistbutton .ui-btn {
    padding: 0.4em 0.5em 0.3em 0.4em !important;
}



 #saveplaylistbutton {
     float: left;
     margin-top: -13px;
     margin-left: 5px;
 }

 #saveplaylistbutton .ui-btn {
     padding: 0.4em 0.5em 0.3em 0.4em !important;
 }


 #rightpanel {
     width: 300px !important;
     max-width: 100% !important;
     overflow:hidden;
 }

 #videoplayer {
     position: absolute;
     bottom: 60px;
     text-align: center;
     pointer-events: none!important;
     z-index: 10000;

 }



 #videoplayerInner {
     display: inline-block;
     pointer-events: auto;
     z-index: 2 !important;

 }





 #videoplayerInner .mejs-mediaelement {
     text-align: center;
 }


 #videoplayer.scaleVideo1{

 -webkit-transform: scale(1);
 transform: scale(1);
 -webkit-transform-origin: 50% 100%;
 transform-origin: 50% 100%;

 }

 #videoplayer.scaleVideo2{

     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transform-origin: 50% 100%;
     transform-origin: 50% 100%;

 }



 #videoplayer.animate {
     -webkit-transition: all 1.5s ease;
     -moz-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
     transition: all 1.5s ease;
 }

#videoplayer.animatefast {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all  0.2s ease;
    transition: all  0.2s ease;
}



 #videoplayerInner{
     border: 1px solid #000;
     background:#000!important;
 }


 #videoplayerInner video {
     -webkit-transition: width 1.5s ease;
     -moz-transition: width 1.5s ease;
     -o-transition: width 1.5s ease;
     transition: width 1.5s ease;

 }






 #videocontrols {
     z-index:  10001;
     overflow: hidden;
     position: absolute;
     bottom: 0px;
     width: 100%;
     height: 230px;
     left: 0px;

     pointer-events: none;

     background-color: #1d1d1d /*{b-bar-background-color}*/;
    border-color: #1b1b1b /*{b-bar-border}*/;
    color: #fff /*{b-bar-color}*/;
    text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #111 /*{b-bar-shadow-color}*/;
    font-weight: bold;

    white-space: nowrap
}

#videocontrolsInner{
    display: inline-block;
    position: relative;
    height: 100%;
    opacity:0;
    width:100%;

}


#videoplayer .mejs-controls{
    padding-left:0px!important;
    padding-right:0px!important;
}

.mejs-container-fullscreen, .mejs-overlay {
    width: 100% !important;
    height: 100% !important;
}



.iScrollVerticalScrollbar{
    width:9px!important;
}

.iScrollIndicator{
    background: rgb(55, 55, 55)!important;
    border: 1px solid rgba(155, 155, 155, 0.6)!important;
}




/*Fades*/


.fadeoutcomplete{
    opacity:1;  /* make things invisible upon start */
    -webkit-animation:fadeoutcomplete ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeoutcomplete ease-in 1;
    animation:fadeoutcomplete ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:400ms;;
    -moz-animation-duration:400ms;
    animation-duration:400ms;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeoutcomplete { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeoutcomplete { from { opacity:1; } to { opacity:0; } }
@keyframes fadeoutcomplete { from { opacity:1; } to { opacity:0; } }




.fadeincomplete {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeincomplete ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeincomplete ease-in 1;
    animation: fadeincomplete ease-in 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.fadeincompleteslow {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeincomplete ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeincomplete ease-in 1;
    animation: fadeincomplete ease-in 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeincompletefast {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeincomplete ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeincomplete ease-in 1;
    animation: fadeincomplete ease-in 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
    animation-duration: 100ms;
}



.fadeslideincompletefast {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeslideincomplete ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeslideincomplete ease 1;
    animation: fadeslideincompleteie ease 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 300ms;
}


.fadeslideincompletefastconst {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeslideincompleteconst ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeslideincompleteconst ease 1;
    animation: fadeslideincompleteie ease 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 300ms;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeslideincompleteconst {
    from {
        opacity: 0;
        margin-top: -5px;
        padding-bottom: 5px;


    }
    to {
        opacity: 1;
        margin-top: 0px;
        padding-bottom: 0px;

    }
}


/* make keyframes that tell the start state and the end state of our object */
@-moz-keyframes fadeslideincompleteconst {
    from {
        opacity: 0;
        margin-top: -5px;
        padding-bottom: 5px;


    }
    to {
        opacity: 1;
        margin-top: 0px;
        padding-bottom: 0px;

    }
}



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeslideincomplete {
    from {
        opacity: 0;
        margin-top: -5px;

    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}


/* make keyframes that tell the start state and the end state of our object */
@-moz-keyframes fadeslideincomplete {
    from {
        opacity: 0;
        margin-top: -5px;

    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}


/* make keyframes that tell the start state and the end state of our object */
@keyframes fadeslideincompleteie {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeincomplete {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeinhalf {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@-moz-keyframes fadeincomplete {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeincomplete {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fast3d{
    transform: translate3d(0px,0px,0px); -ms-transform:translate3d(0px,0px,0px);-webkit-transform:translate3d(0px,0px,0px);


}

.ui-alt-icon.ui-icon-search.loading:after, .ui-alt-icon .ui-icon-search.loading:after, .ui-input-search.loading:after {
    background-image:url(../img/loader.gif)!important;
    background: rgb(255, 255, 255);
    background-size:14px 14px;
    background-position:0px 0px;
    background-repeat:no-repeat;
}



.mejs-overlay-play{
    background-image:url(../img/swipeoverlay.png);
    background-size: 100% 100%;

}




/*
#playingSongCover{
    box-shadow: 0px 0px 10px 3px rgba(255,255,255,0.1);
}

#playingSongTitle{
    text-shadow: 0px 0px 5px rgba(255,255,255,0.25);
}

#playingSongTitleLoading{
    text-shadow: 0px 0px 5px rgba(255,255,255,0.25);
}
  */




#popupArtistExternList li a{
    background-color: rgba(255,255,255,0.8);
    text-shadow:none!important;
   color:#000!important;
    text-shadow: none!important;
    line-height: 1.2!important;
    font-size: 14px!important;
    min-height: 0em!important;
}

#popupArtistExternList li:hover a{
    background-color: rgba(70,23,180,1);
    color:#fff!important;


}

#popupArtistExternList li.marked a{
    background-color: rgba(0,0,0,.7) !important;
    color:#fff!important;

}

#popupArtistExternList li.marked:hover a{
    background-color: rgba(70,23,180,1)!important;
    color:#fff!important;


}



.playingSongInfo{
    left: auto!important;
    transition : opacity .5s linear;

}


.playingSongInfo.ui-icon-custom:after {
    opacity:1;
    background-image: url(../img/loader.gif);
    background-color:rgba(0,0,0,0)!important;
    background-size: 100%!important;
    -webkit-border-radius: 1px!important;
    border-radius:1px!important;
    -webkit-transition : all .5s linear;

    transition : all .5s linear;
    background : transparent;
}


.playingSongBuy{
    z-index: 1000;
    transition : opacity .5s linear;

    left: auto!important;
    color:#000!important;


    background: #f6d073;
    background: -moz-linear-gradient(top,#fee6b0,#eeba37);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee6b0),color-stop(100%,#eeba37));
    background: -webkit-linear-gradient(top,#fee6b0,#eeba37);
    background: -o-linear-gradient(top,#fee6b0,#eeba37);
    background: -ms-linear-gradient(top,#fee6b0,#eeba37);
    background: linear-gradient(top,#fee6b0,#eeba37);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee6b0',endColorstr='#eeba37',GradientType=0);


    border-radius: 3px 3px 3px 3px!important;
    border-style: solid!important;
    border-width: 1px!important;

    border-color: #be952c #a68226 #9b7924!important;

    color: #111!important;
    font-family: Arial,sans-serif!important;
    font-size: 13px!important;
    text-align: center!important;
    white-space: nowrap!important;
    text-shadow:none!important;
}


#header .ui-btn.animated{
    transition : all .5s linear!important;

}

#header .ui-btn-right {
    margin-top: 1px!important;
}


#signinLink, #linkAccount, #registerLink{
   top: 0px;
}




#clearChoosenPlaylists{
    position: absolute;
    right: 0;
    top: 50%;
    margin: -14px .3125em 0;
    border: 0;
    background-color: transparent;
}

.chosen-choices.ui-input  {
    padding-right:30px;
}
.chosen-choices.ui-input  input,  #saveplaylistinpt{

    padding: 0.4em!important;
    margin-top: 1px!important;
    min-height: 22px!important;
    width: 100%!important;

}

#saveplaylistbtn{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}




.chosen-choices.ui-input li.search-choice {
    margin: 4px 0 3px 5px!important;
}



a, button, h1, h2, h3{
    cursor: default !important;

}


#siteLogo{
    width:100%;
    height:100%;
    pointer-events: none;

    -webkit-transform-origin: 100% 100%;
    transform-origin: 100%100%!important;
}


#siteLogo img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0.7;
    pointer-events: auto;

}


.backgroundVideo{
    width:100%!important;
    height:100%!important;
    background-color:#000!important;
    opacity:0.5

}



#backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}


.greenbackground{

    background-color:#050!important;
}


/*POPUPS*/

.ui-popup-container{
    background:rgba(255,255,255,0.6)!important;

}


.ui-popup.ui-body-a{
    background-color:rgba(0,0,0,0)!important;
}


.ui-popup{
    padding: 5px;

    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */

    background-clip: content-box!important;

}


#popupArtist-popup,#popupAccount-popup{
  width:250px;
}



#popupAccount-popup, #popupArtist-popup,#popupLogin-popup, #popupRegister-popup{
    top: 51px!important;
}


#popupArtist-popup::before {
    content: "";

    background-position: center center;
    opacity: 0.99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

#popupArtist{


}

#popupArtist .ng-pristine{
text-shadow: none!important;
}


#popupArtist .ui-popup-arrow-guide{
    background:#fff!important;
    z-index:10000;
}


#popupAccount.ui-popup{

    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */

}

#popupAccount a{
    text-shadow:none!important;
    line-height: 1.2!important;
    font-size:14px!important;
    min-height: 0em!important;

    padding-left: 3.4em!important;
    padding-right: 5em!important;
    background-color: rgba(255,255,255,0.8);
    color: #000;
}

#popupAccount a:hover{
    background-color: rgba(70,23,180,1);
    color:#fff;
}



#popupAccount a img{
max-height: 2em!important;
max-width: 2em!important;
    margin-top:0.25em!important;
    margin-left:0.95em!important;

}

#popupAccount #logoutlink:hover{
    background-color: #b4182b !important ;

}





#popupVideoSettings a{
    text-shadow:none!important;
    line-height: 1.2!important;
    font-size:14px!important;
    min-height: 0em!important;

    padding-left: 2.6em!important;
    padding-right: 5em!important;
   background-color: #333;

    color: #fff;
}

#popupVideoSettings a:hover{
    background-color: rgba(70,23,180,1);
    color:#fff;
}

#popupVideoSettings a img{
    max-height: 2em!important;
    max-width: 2em!important;
    margin-top:0.25em!important;
    margin-left:0.15em!important;

}


#popupVideoSettings #cancelButtonVideoSettings{
    background-color: #b4182b !important ;

}

#popupVideoSettings-popup{
   /* margin-left: 7px!important;   */
}

#popupVideoSettings-popup{
    bottom:50px!important;
    top:auto!important;


}

#popupVideoSettings{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#popupVideoSettings-popup .ui-popup-arrow-container.ui-popup-arrow-b .ui-popup-arrow {
    margin-left:5px!important;
}

#loadversionimg{
    position:absolute;
    top: 27px;
    left: 15px;

}



.rotateIt{
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1080deg);
    -webkit-transition: all 8s ease-out;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}



/* E
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-e {
    border: 1px solid #f7c942 /*{e-bar-border}*/;
    background: #fadb4e /*{e-bar-background-color}*/;
    color: #333 /*{e-bar-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fceda7 /*{e-bar-background-start}*/), to(#fbef7e /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#fceda7 /*{e-bar-background-start}*/, #fbef7e /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(#fceda7 /*{e-bar-background-start}*/, #fbef7e /*{e-bar-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(#fceda7 /*{e-bar-background-start}*/, #fbef7e /*{e-bar-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(#fceda7 /*{e-bar-background-start}*/, #fbef7e /*{e-bar-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient(#fceda7 /*{e-bar-background-start}*/, #fbef7e /*{e-bar-background-end}*/);
}