



.songlist{
   /* -moz-transitionsdfsdf: -moz-transform 350ms ease 0s!important;  */
    -moz-transition-timing-function: ease!important;
}



/*GRID LAYOUT   */
#searchlist ul.gridlayout {
  margin: 0 auto!important;
  margin-left: 15px !important;
  text-align: left!important;
  width:100%!important;

}

#searchlist ul.gridlayout li {
  display: inline-block!important;
  vertical-align: top!important;
  width: 250px;

}


/*Song Options*/

.songOptions{
    position: absolute;
    height: 38px;
    width:199px;
    top: 14px;
    left: 63px;

  /*  background-image: -o-linear-gradient(right, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 80%,rgba(50,50,50,0) 100%);
    background-image: -moz-linear-gradient(right, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 80%,rgba(50,50,50,0) 100%);
    background-image: -webkit-linear-gradient(right, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 80%,rgba(50,50,50,0) 100%);
    background-image: -ms-linear-gradient(right, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 80%,rgba(50,50,50,0) 100%);
    background-image: linear-gradient(to right, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 80%,rgba(50,50,50,0) 100%);      */
    z-index: 10000;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid rgb(34, 34, 34);
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
    background-color: rgb(51, 51, 51);

}
.songOptions.noanim{
    -webkit-transition: none!important;
    -moz-transition:  none!important;
    -o-transition:  none!important;
    transition:  none!important;
}


ul.gridlayout .songOptions{
    left: 60px!important;
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    transform: scale(0.92)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
}



.songOptions img:hover{

    -webkit-transform: scale(1.31);
    -moz-transform: scale(1.31);
    transform: scale(1.31)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
}

.songOptions img{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity:1;
}


.songOptions #playSelection{
    position: absolute;
    top: 1px;
    left: -3px;


}


.songOptions #addToPlaylist{
    position: absolute;
    top: 1px;
    left: 47px;

}
#playlistInner .songOptions #addToPlaylist{
    display:none!important;
}

.songOptions #removeFromPlaylist{
    position: absolute;
    top: 1px;
    left: 47px;
    background-image:url(../img/trashopt.png) ;
    background-size:100%;
    background-repeat:no-repeat;
}

/*
.songOptions #removeFromPlaylist:hover{
    background-image:url(../img/trashoptopen.png)!important ;
    background-size:100%;
    background-repeat:no-repeat;
} */

#searchlist .songOptions #removeFromPlaylist{
    display:none!important;
}



.songOptions #searchSimilar{
    position: absolute;
    top: 1px;
    left: 96px;

}

.songOptions #moreOptions{
    position: absolute;
    top: 1px;
    left: 145px;

}
/*
.songOptions #shareSocial{
    position: absolute;
    top: 1px;
    left: 145px;

}
 */

/*Songlist  */
.songlist{
    margin-bottom:15px!important;
    padding-bottom: 15px!important;

}

.songlist li{
    height:65px!important;
}

.songlist li.specialplaylistbutton.currentqueue a{
    background-color: rgba(255, 255, 255, 0.12)!important;
}



.songlist li.specialplaylistbutton.createplaylist a{
    margin-bottom: 0px!important;
    border-bottom: none!important;
    background-color: rgba(255, 255, 255, 0.12)!important;

}

.songlist li.specialplaylistbutton {
    margin-bottom: 5px!important;

}

.songlist li.specialplaylistbutton  h3{
text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/!important;
 }

.songlist li a{
    -webkit-transition: background-image 1s ease!important;
    -moz-transition: background-image 1 ease!important;
    -o-transition: background-image 1s ease!important;
    transition: background-image 1s ease!important;
}



.songlist li.addedsongs  .playlistCoverSong .coverSong{

    -webkit-transform:   none!important;
    -moz-transform:none!important;
    transform: none!important;


    -webkit-animation: bounceopacity ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: bounceopacity ease 1;
    animation: bounceopacity ease 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;


}



.songlist li.addedsongs.specialplaylistbutton  .playlistCoverSong .coverSong{

    -webkit-transform:   none!important;
    -moz-transform:none!important;
    transform: none!important;


    -webkit-animation: bounceopacityfade ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: bounceopacityfade ease 1;
    animation: bounceopacityfade ease 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;


}





.songlist li.specialplaylistbutton a img.ui-li-icon, .songlist li.playlistsong a img.ui-li-icon {
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}




@-moz-keyframes bounceopacityfade {
    0%{  -moz-transform:translate(-18px,0) scale(0.9) rotateY(320deg)  translate(-15px,0) ; opacity:0}
    30%{ -moz-transform: scale(1.2)rotateY(320deg)  translate(-15px,0)  }
    60%{ -moz-transform:translate(-8px,0)  scale(1) rotateY(320deg)   translate(-15px,0); opacity:1 }
    100%{ -moz-transform:translate(-8px,0)  scale(1) rotateY(320deg) translate(-15px,0);opacity:0  }
}

@-webkit-keyframes bounceopacityfade {
    0%{  -webkit-transform:translate(-18px,0) scale(0.9) rotateY(320deg)  translate(-15px,0) ; opacity:0}
    30%{ -webkit-transform: scale(1.2)rotateY(320deg)  translate(-15px,0)  }
    60%{ -webkit-transform:translate(-8px,0)  scale(1) rotateY(320deg)   translate(-15px,0); opacity:1 }
    100%{ -webkit-transform:translate(-8px,0)  scale(1) rotateY(320deg) translate(-15px,0);opacity:0  }


}

@keyframes bounceopacityfade {
    0%{  -transform:translate(-18px,0) scale(0.9) rotateY(320deg)  translate(-15px,0) ; opacity:0}
    30%{ -transform: scale(1.2)rotateY(320deg)  translate(-15px,0)  }
    60%{ -transform:translate(-8px,0)  scale(1) rotateY(320deg)   translate(-15px,0); opacity:1 }
    100%{ -transform:translate(-8px,0)  scale(1) rotateY(320deg) translate(-15px,0);opacity:1  }
}



@-moz-keyframes bounceopacity {
    0%{  -moz-transform:translate(-18px,0) scale(0.9) rotateY(320deg)  translate(-15px,0) ; opacity:0}
    30%{ -moz-transform: scale(1.2)rotateY(320deg)  translate(-15px,0)  }
    60%{ -moz-transform:translate(-8px,0)  scale(1) rotateY(320deg)   translate(-15px,0); opacity:1 }
    100%{ -moz-transform:translate(-8px,0)  scale(1) rotateY(320deg) translate(-15px,0);opacity:1  }
}

@-webkit-keyframes bounceopacity {
    0%{  -webkit-transform:translate(-18px,0) scale(0.9) rotateY(320deg)  translate(-15px,0) ; opacity:0}
    30%{ -webkit-transform: scale(1.2)rotateY(320deg)  translate(-15px,0)  }
    60%{ -webkit-transform:translate(-8px,0)  scale(1) rotateY(320deg)   translate(-15px,0); opacity:1 }
    100%{ -webkit-transform:translate(-8px,0)  scale(1) rotateY(320deg) translate(-15px,0);opacity:1  }


}

@keyframes bounceopacity {
    0%{  -transform:translate(-18px,0) scale(0.9) rotateY(320deg)  translate(-15px,0) ; opacity:0}
    30%{ -transform: scale(1.2)rotateY(320deg)  translate(-15px,0)  }
    60%{ -transform:translate(-8px,0)  scale(1) rotateY(320deg)   translate(-15px,0); opacity:1 }
    100%{ -transform:translate(-8px,0)  scale(1) rotateY(320deg) translate(-15px,0);opacity:0  }
}


.songlist .ui-li-has-icon img {
    max-height: 3.3em !important;
    max-width: 3.3em !important;
    margin-top: -0.5em !important;
}

.songlist .ui-li-has-icon a {
    padding-left: 4.8em !important;

}




.songlist li a {
    height:51px!important;

    -webkit-box-shadow: none!important/*{b-active-background-color}*/;
    -moz-box-shadow: none!important/*{b-active-background-color}*/;
    box-shadow: none!important /*{b-active-background-color}*/;
}




.songlist   li a  {
    overflow:visible!important;
    margin-left: 5px!important;
}

.songlist li a img.ui-li-icon{
    left: 5px!important;


}

.songlist li a img.ui-li-icon.fadeout{
    opacity: 0!important;
    -webkit-transition: opacity 0.2s ease!important;
    -moz-transition: opacity 0.2s ease;!important;
    -o-transition: opacity 0.2s ease!important;

}


.songlist li a {
    padding-top: 3px !important;
    padding-bottom: 11px !important;
    height: 51px !important;
    -webkit-perspective: 150;
    -webkit-perspective-origin: 32px 50%;
    -moz-perspective: 150px;
    -moz-perspective-origin: 32px 50%;
    -ms-perspective: 150px;
    -ms-perspective-origin: 32px 50%;
}




.songlist li:hover a img.ui-li-icon{
    -webkit-transform: scale(1.21);
    -moz-transform: scale(1.23);
    transform: scale(1.23);

    /*transform: none!important; NOT WORKING FOR FIREFOX*/
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
    z-index:10;
    overflow:visible;
   /* -moz-box-shadow: 3px 0p 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 0px 5px rgba(0,0,0,0.4);
    box-shadow: 3px 0px 5px rgba(0,0,0,0.4);  */

    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


.songlist li:hover.selected a img.ui-li-icon{
    -webkit-transform: scale(1)!important;
    -moz-transform: scale(1)!important;
    transform: scale(1)!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow:none!important;
}



.songlist li.loadedsong:hover a img{

    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}



.songlist li p, .songlist li h3 {
       text-shadow: 0 /*{b-bup-shadow-x}*/ 2px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/!important;

}


.songlist li h3.songTitleMargin {
    margin-left:13px!important;
}




.songlist li.loadedsong a{
    /*  background-color:rgba(255,255,255,0.3) !important;*/


    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(255,255,255,0.3), endColorstr=rgba(255,255,255,0))!important;
    background-image:-moz-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(44%,rgba(255,255,255,0.3)),color-stop(100%,rgba(255,255,255,0)))!important;



}

.songlist li img.ui-li-icon {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.songlist li.loadedsong.playing img.ui-li-icon{
    background-image:url(../img/play.png)!important;
    background-size:100%;
    background-position: 0px 0px!important;

}

.songlist li.oldloadedsong.playing img.ui-li-icon{
    background-image:url(../img/play.png)!important;
    background-size:100%;
    background-position: 0px 0px!important;

}


.songlist li.loadedsong.stillloading:hover a img.ui-li-icon {

    /*-moz-box-shadow: 0x 0p 1px  rgba(0,0,0,0.4)!important;
    -webkit-box-shadow: 0px 0px  1px rgba(0,0,0,0.4)!important;
    box-shadow: 0px 0px 1px  rgba(0,0,0,0.4)!important;
   */
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}

.songlist li {
    -webkit-perspective:  150;
    -webkit-perspective-origin: 32px 50%;
    -moz-perspective: 150px;
    -moz-perspective-origin: 32px 50%;
    -ms-perspective: 150px;
    -ms-perspective-origin: 32px 50%;
    perspective: 150px;
    perspective-origin: 32px 50%;
}

.songlist li.loadedsong.stillloading .ui-li-icon {
    opacity:1;
    -webkit-animation:spin 2s ease infinite!important;
    -moz-animation:spin 2s ease infinite!important;
    animation:spin 2s ease infinite!important;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards; /* Safari and Chrome */
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition:none!important;
    transition: none!important;
}

.songlist li.loadedsong.stillloading:hover a img.ui-li-icon {
    -moz-transform: none;
}





.songlist li.loadedsong.stillloading img.loadingSongImg{
    display:block;
    -webkit-transform-origin: 50% 50%;
    -moz-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    z-index:10;
}




.songlist li .songTrend{
    background-size: 10px 10px!important;
    width: 10px!important;
    height: 10px!important;
    max-width: 20px!important;
    max-height: 20px!important;
    left: 75px!important;
    top: 20px;
    opacity: 0.8!important;
    z-index: 10;
    overflow: visible;
    position: absolute;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}



.songWinner{
    background-image:url(../img/winner.png)!important;
}

.songLoser{
    background-image:url(../img/loser.png)!important;
}

.songNochange{
    background-image:url(../img/nochange.png)!important;
}

.songNew{
    background-image:url(../img/newsong.png)!important;
}

.songlist.hidden li{
    display:none!important
}


.songlist.avoidhiding li.stayvisible{
    display:block!important
}

#searchlist ul li.searchlisttitlebutton{
    min-height: 0;
    max-height: 44px;
    display: block!important;
    margin-top: 5px;
}



#searchlist ul.gridlayout li.searchlisttitlebutton{
    width: 50%!important;
    min-width: 250px!important;
}

#searchlist li.searchlisttitlebutton a{
    min-height: 0;
    max-height: 30px;
    padding: 3px 0px 11px 6px!important;


    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(255,255,255,0.2), endColorstr=rgba(255,255,255,0))!important;
    background-image:-moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(44%,rgba(255,255,255,0.2)),color-stop(100%,rgba(255,255,255,0)))!important;


}

#searchlist li:hover.searchlisttitlebutton a.loaded{

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(255,255,255,0.2), endColorstr=rgba(255,255,255,0))!important;
    background-image:-moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(44%,rgba(255,255,255,0.2)),color-stop(100%,rgba(255,255,255,0)))!important;

}

#searchlist li:hover.searchlisttitlebutton a{

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(255,255,255,0.4), endColorstr=rgba(255,255,255,0))!important;
    background-image:-moz-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 44%,rgba(255,255,255,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(44%,rgba(255,255,255,0.4)),color-stop(100%,rgba(255,255,255,0)))!important;

}





.songlist li .playlistCoverSong{
 /* background-image:url(../img/songload.gif)!important;
  background-size:9;*/
    width: 65px!important;
    height: 65px!important;
    max-width: 65px!important;
    max-height: 65px!important;
    margin-left:3px!important;
    margin-top:-5px!important;
    left: -4px!important;
    top:  5px;
    z-index:10;
    overflow:visible;
    position: absolute;

    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    opacity:0.9;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-perspective:  65;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective: 65px;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective: 65px;
    -ms-perspective-origin: 50% 50%;;
    perspective: 65px;
    perspective-origin: 50% 50%;
    -webkit-transform: scale(0.68)!important;
    -moz-transform: scale(0.68)!important;
    transform:   scale(0.68)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
}

.songlist li.specialplaylistbutton .playlistCoverSong img{
    opacity:0!important;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


.songlist li.specialplaylistbutton .playlistCoverSong img.addPlaylist{
    left: 0!important;
    -webkit-transform:   translate(2px,-1px)  scale(1.1) !important;  !important;
    -moz-transform: translate(2px,-1px)  scale(1.1)  !important;
    transform: translate(2px,-1px)  scale(1.1) !important;
    opacity:0.85!important

}

.songlist li.hoverable.specialplaylistbutton:hover .playlistCoverSong img.addPlaylist{
    opacity:1!important;
    -webkit-transform:   translate(2px,-1px)  scale(1.3) !important;
    -moz-transform: translate(2px,-1px)  scale(1.3)  !important;
    transform: translate(2px,-1px)  scale(1.3) !important;
}


.songlist li.hoverable.selected:hover .playlistCoverSong img{
    left: 0!important;
    -webkit-transform: rotateY(360deg) scale(1.21)  !important;
    -moz-transform: rotateY(360deg) scale(1.23)  !important;
    transform: rotateY(360deg) scale(1.23) !important;
}



.songlist.dragging li .playlistCoverSong {

    -webkit-transform: none   !important;
    -moz-transform: none !important;
    transform: none  !important;

-webkit-animation: staticbounce ease infinite; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
-moz-animation: staticbounce ease infinite;
animation: staticbounce ease infinite;

-webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
-moz-animation-fill-mode: forwards; /*FF 5+*/
-o-animation-fill-mode: forwards; /*Not implemented yet*/
-ms-animation-fill-mode: forwards; /*IE 10+*/
animation-fill-mode: forwards; /*when the spec is finished*/

-webkit-animation-duration: 1.5s;
-moz-animation-duration:  1.5s;
animation-duration:  1.5s;


}




@-moz-keyframes staticbounce {
    0%{ -moz-transform: scale(0.68); }
    50%{ -moz-transform:scale(0.78);  }
    100%{ -moz-transform: scale(0.681);  }
}

@-webkit-keyframes staticbounce {
    0%{ -webkit-transform: scale(0.68); }
    50%{ -webkit-transform:scale(0.78);  }
    100%{ -webkit-transform: scale(0.681);  }
}

@keyframes staticbounce {
    0%{ transform: scale(0.68); }
    50%{ transform:scale(0.78);  }
    100%{ transform: scale(0.681);  }
}

.songlist li.selected .playlistCoverSong img{
    left: 0!important;
    -webkit-transform: scale(1.21) rotateY(360deg)   !important;
    -moz-transform: rotateY(360deg) scale(1.23) !important;
    transform: rotateY(360deg) scale(1.23)  !important;
}

.songlist li .playlistCoverSong img{
    background-size: 65px 65px!important;
    width: 65px!important;
    height: 65px!important;
    max-width: 65px!important;
    max-height: 65px!important;
    left: 0;
    top: 8px;
    z-index:10;
    position: absolute;
    overflow:visible;
    -webkit-transform:   translate(-8px,0) rotateY(320deg) translate(-15px,0) ;
    -moz-transform: rotateY(-320deg) translate(-15px,0);
    transform: rotateY(320deg) translate(-15px,0)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index:40;
}


/*
.songlist li .playlistCoverSong .coverSong1{
    -webkit-transform:  translate(-8px,0) rotateY(320deg) scale(1.05) translate(-15px,0) ;
    -moz-transform: rotateY(320deg) scale(1.05) translate(-15px,0);
    transform: rotateY(320deg) scale(1.05)  translate(-15px,0)!important
}
 */

.songlist li .playlistCoverSong .coverSong2{
    left: 11px!important;
    z-index:30;

}

.songlist li .playlistCoverSong .coverSong3{
    left:22px!important;
    z-index:20;

}




.songlist li.hoverable:hover .playlistCoverSong .coverSong1{
    -webkit-transform: translate(2px,0) rotateY(360deg) scale(1.5) !important;
    -moz-transform: rotateY(360deg) scale(1.5)!important;
    transform: rotateY(360deg) scale(1.5)!important;
    opacity:1!important;
}


.songlist li.hoverable:hover .playlistCoverSong .coverSong2{
    -webkit-transform: translate(-7px,0) rotateY(360deg) scale(1.45) !important;
    -moz-transform: rotateY(360deg) scale(1.45) translate(-7px,0)!important;
    transform: rotateY(360deg) scale(1.45) translate(-7px,0) !important;
    opacity:0.6!important;
}


.songlist li.hoverable:hover .playlistCoverSong .coverSong3{
    -webkit-transform:translate(-19px,0) rotateY(360deg) scale(1.45) !important;
    -moz-transform: rotateY(360deg) scale(1.45) translate(-15px,0)!important;
    transform: rotateY(360deg) scale(1.45) translate(-15px,0)!important;
    opacity:0.6!important;

}


.songlist li .loadingSongImg{
/* background-image:url(../img/songload.gif)!important;
 background-size:9;*/
    width: 65px!important;
    height: 65px!important;
    max-width: 65px!important;
    max-height: 65px!important;
    margin-left:3px!important;
    margin-top:-5px!important;
    left: -4px!important;
    top:  5px;
    z-index:10;
    overflow:visible;

    position: absolute;

    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

    background-image:none !important;
    background-size: 65px 65px!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all  0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity:0;

}


.songlist li:hover .loadingSongImg:hover {
   opacity:1!important;

}


.songlist li:hover .loadingSongImg {
    background-image:url(../img/unchecked.png) !important;
    display:block!important;

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeinoutcomplete ease 1!important;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeinoutcomplete ease 1!important;
    animation:fadeinoutcomplete ease 1!important;

    -webkit-animation-fill-mode:forwards!important;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards!important;
    animation-fill-mode:forwards!important;

    -webkit-animation-duration:3000ms!important;
    -moz-animation-duration:3000ms!important;
    animation-duration:3000ms!important;
}

.songlist li.selected:hover .loadingSongImg{

    -webkit-animation:none !important;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:none !important;
    animation:none !important;

}

.songlist li.stillloading .loadingSongImg, .songlist li.stillloading:hover .loadingSongImg  , .songlist li.stillloading:hover .loadingSongImg:hover {
    opacity:0!important;
    -webkit-animation:none !important;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:none !important;
    animation:none !important;
 }




/* Animation */

/*fadeinoutcomplete*/
@-moz-keyframes fadeinoutcomplete {
    0% {  opacity:0}

    50% {  opacity:0!important}
    100% { opacity:0.8 }

}

@-webkit-keyframes fadeinoutcomplete {
    0% {  opacity:0}
    50% {  opacity:0}
    100% { opacity:0.8 }
}

@keyframes fadeinoutcomplete{
    0% {  opacity:0}
    50% {  opacity:0}
    100% { opacity:0.8 }
}



.songlist li:hover.selected .loadingSongImg{
    background-image:url(../img/checked.png)!important;
    display:block!important;
    opacity:1;

}

.songlist li.selected .loadingSongImg{
    background-image:url(../img/checked.png)!important;
    display:block!important;
    opacity:1;

}


.songlistDISABLED li.loadedsong.stillloading .loadingSongImg{
    background-image:url(../img/playloading.png)!important;
    display:block!important;
    opacity:0.95;
    /*-webkit-transition: all 15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
         transition: all 0.15s ease;
*/

    -webkit-transition: opacity 0.2s ease!important;
    -moz-transition: opacity 0.2s ease;!important;
    -o-transition: opacity 0.2s ease!important;
    transition: opacity 0.2s ease;

    -webkit-transform: scale(0.8)!important;
    /* -moz-transform: scale(0.8)!important;  */
    -ms-transform: scale(0.8)!important;
    -moz-transform: none;

    transform: none; /*NOT WORKING FOR FIREFOX*/

}




.songlist li.loadedsong.stillloading .loadingSongImg.fadeout{
    opacity: 0!important;
    -webkit-transition: opacity 0.2s ease!important;
    -moz-transition: opacity 0.2s ease;!important;
    -o-transition: opacity 0.2s ease!important;
    transition: opacity 0.2s ease!important;


}

.songlist li .loadingSongImg {
    background-image:none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}




.songlist li.loadedsong.pausing img.ui-li-icon {
    background-image:url(../img/play.png)!important;
    opacity: 0.5 !important;
    background-size:100%;
    background-position: 0px 0px!important;

}







/*Searchlist */




#searchlist {
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 10px;
    height: 100%;
    background: none;
    overflow: hidden;
    padding-top: 5px;
}

#searchlistDISABLED {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



#searchlist ul {
    margin-left: 15px !important;
    width: 50%;
}

#searchlistview {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 500%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

  /*  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
       */
}

#searchlist a {
    background: none ;
    border: none !important;
}

#searchlist a img{
    height: 3.3em;
    width: 3.3em;
}



#searchlist li.selected a, #playlistInner li.selected a{

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(0, 212, 59, 0.60), endColorstr=rgba(0, 212, 59,0.6))!important;
    background-image:-moz-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image: linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(0, 212, 59,0.6)), color-stop(44%,rgba(0, 212, 59,0.6)),color-stop(100%,rgba(0, 212, 59,0)))!important;

    border: none !important;
}



#searchlist a:after {
    display: none;
}

#searchlist a:hover {
    /*background: #7700b4 !important; /* #4617B4*/

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(119,0,180,1), endColorstr=rgba(119,0,180,1))!important;
    background-image:-moz-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(119,0,180,1) 0%, rgba(119,0,180,1) 44%,rgba(119,0,180,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(119,0,180,1)), color-stop(44%,rgba(119,0,180,1)),color-stop(100%,rgba(119,0,180,0)))!important;

    border: none !important;
}


#searchlist .nohover a:hover{
    filter:none!important;
    background-image:none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition:  none!important;
}

/*
#searchlist li.playing a:hover,#searchlist li.pausing a:hover {

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(124, 0, 172,1), endColorstr=rgba(124, 0, 172,1))!important;
    background-image:-moz-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(124, 0, 172,1) 0%, rgba(124, 0, 172,1) 44%,rgba(124, 0, 172,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(124, 0, 172,1)), color-stop(44%,rgba(124, 0, 172,1)),color-stop(100%,rgba(124, 0, 172,0)))!important;




    border: none !important;
}
*/


#searchlist .ui-btn-icon-right {
    padding-right: 0px !important;
}








/*Playlist*/



#playlist {
    position: absolute;
    z-index: 1;
    height: 100%;
    background: none;
    overflow: hidden;
    min-width: 250px;
    padding-bottom:1px;
    max-height:0px;
    padding-left: 10px;
    background-color:rgba(255,255,255,0.1);
}


#playlistInner.animate{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


#playlistInner li.animatetoslow{
    -webkit-transition: all 10000s ease;
    -moz-transition: all 10000s ease;
    -o-transition: all 10000s ease;
    transition: all 10000s ease;
}




#playlistInner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    height: 100%;
    background: none;
    overflow: hidden;
    margin-left: -8px;
    margin-top:-9px;
    padding-top:5px;
}

#playlistInner ul {
    margin-left: 15px !important;
    width:100%;
}

#playlistInner li {
    min-width: 250px;
}

#playlistInner .ui-sortable-placeholder{
    /* background:      rgba(255,255,255,0.1);*/
    visibility: visible!important;
    height:65px!important;

}



#playlistview {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 500%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    */
    min-height:80%;


}

#playlistInner a {
    background: none ;
    border: none ;
}

#playlistInner a img{
    height: 3.3em;
    width: 3.3em;
}


#playlistInner a:after {
    display: none;
}

#playlistInner a:hover {
    /*  background: #4617B4 !important;*/

    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(70,23,180,1), endColorstr=rgba(70,23,180,1))!important;
    background-image:-moz-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(70,23,180,1)), color-stop(44%,rgba(70,23,180,1)),color-stop(100%,rgba(70,23,180,0)))!important;

    border: none !important;
}


#playlistInner .nohover a:hover{
    filter:none!important;
    background-image:none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition:  none!important;
}

/*
#playlistInner .ui-li-has-icon img.removesong{
    max-height: 2.8em!important;
    max-width: 2.4em!important;
    margin-top: -0.3em!important;
    position: absolute;
    right: 0.6em;
    top: 1em;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
#playlistInner .ui-li-has-icon img.removesong:hover{
    background-image:url(../img/trashopen.png)!important ;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-transform: scale(1.21);
    -moz-transform: scale(1.23);
    transform: scale(1.23)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;

}

     */


#playlisthelp{
    z-index:2;
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    opacity:0.6;
    font-size:22px;
    font-weight:bold;
    pointer-events: none;
}

#playlisthelp.invisible{
    opacity:0!important;
}

#playlisthelp.invisible:hover{
    opacity:0!important;
}

#playlisthelp:hover{
    opacity:1!important;
}
#playlisthelp {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#playlistInner .ui-btn-icon-right {
    margin-right: 8px;
    padding-right: 0px;
}



/* Playlist Controls*/




#controlbarplaylist{

    margin-top: 22px;
}





#playlistselectvertical {
    margin-top: -5px;
    float: left;

}




#sortplaylisttext {
    margin-top: 0px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
    max-height: 20px;
}



#playlistselectvertical .chosen-container .chosen-drop {
    color: #000 !important;
}


#playlistselectvertical .search-choice{

    opacity: 0; /* make things invisible upon start */
    -webkit-animation: smallbounce ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: smallbounce ease-in 1;
    animation: smallbounce ease-in 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;

    max-width: 75px;
    max-height: 25px;
    border-radius: 6px!important;

}

#playlistselectvertical .search-choice span{

   font-size:14.5px!important;

}



@-moz-keyframes smallbounce {
    0%{ -moz-transform:scale(0.6); opacity:0;}
    50%{ -moz-transform:scale(1.05); opacity:0.4;}
    75%{ -moz-transform:scale(1); opacity:0.7;}
    100%{ -moz-transform:scale(1); opacity:1;}
}

@-webkit-keyframes smallbounce {
    0%{ -webkit-transform:scale(0.6); opacity:0;}
    50%{ -webkit-transform:scale(1.05); opacity:0.4;}
    75%{ -webkit-transform:scale(1); opacity:0.7;}
    100%{ -webkit-transform:scale(1); opacity:1;}

}

@keyframes smallbounce {
    0%{ transform:scale(0.6); opacity:0;}
    50%{ transform:scale(1.05); opacity:0.4;}
    75%{ transform:scale(1); opacity:0.7;}
    100%{ transform:scale(1); opacity:1;}
}


#rightpanel {
    width: 300px !important;
    max-width: 100% !important;
    overflow:hidden;
}






#sortplaylistbutton {
    float: left;
    margin-top: -13px;
    margin-left: 5px;
}

#sortplaylistbutton .ui-btn {
    padding: 0.4em 0.5em 0.3em 0.4em !important;
}

#sortplaylistbutton .ui-btn img{
    margin-left: 1px;
    margin-right: -1px;
}





#clearChoosenPlaylists{
    position: absolute;
    right: 0;
    top: 50%;
    margin: -14px .3125em 0;
    border: 0;
    background-color: transparent;
    z-index:10000;
}

.chosen-choices.ui-input  {
    padding-right:30px;
}
.chosen-choices.ui-input  input{

    padding: 0.4em!important;
    margin-top: 1px!important;
    min-height: 22px!important;
    width: 100%;
}



.chosen-choices.ui-input li.search-choice {
    margin: 2px 3px 0px 3px!important;
}



/*iScroll Indicator*/


.iScrollVerticalScrollbar{
    width:9px!important;

}

.iScrollIndicator{
    background: rgb(55, 55, 55)!important;
    border: 1px solid rgba(155, 155, 155, 0.6)!important;
    opacity:0.9!important;
}


/*Listview*/
#searchlist .iScrollVerticalScrollbar {
    left: 0px !important;
    right: auto !important;

}

#playlistInner .iScrollVerticalScrollbar {
    right: 0px !important;
    left: auto !important;
}

.iScrollVerticalScrollbar {
    overflow: visible!important;
    padding-top: 5px!important;
    margin-bottom: 5px!important;
}

.iScrollPlayIndicator{
    pointer-events:auto;
    opacity:0.9!important;

    /*

    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;

    border-left: 10px solid rgba((86, 199, 231,0.8);

    */

    border-radius: 4.5px;
    width: 9px;
    height: 10px;

    border: 1px solid rgba(155, 155, 155, 0.6)!important;
    background-color: rgba(86, 199, 231,0.8);
     /*
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover,  rgba(86, 199, 231,0.8) 0%,  rgba(86, 199, 231,0.8) 100%, rgba(44,124,145,0.8) 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, rgba(44,124,145,0.8), rgba(86, 199, 231, 0.80));
    background-image: radial-gradient(45px 45px 45deg, circle cover, rgba(86, 199, 231,0.8) 0%, rgba(86, 199, 231,0.8) 100%, rgba(44,124,145,0.8) 95%);
      */

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
, );

}



.noshadow{
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}



/*draggedlistelement*/


.draggedlistelement.animatemargin {
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.draggedlistelement {
    z-index: 2000 !important;
    padding: 0;
    list-style: none;
    /*  background: #4617B4 !important;*/


    border: none !important;
    margin: 0px !important;

}

.draggedlistelement * {
    pointer-events:none!important;
}


.draggedlistelement .margintop{

    margin-top: -5px!important;

}

.draggedlistelement li{
    height:65px!important;

}



.draggedlistelement li a {

    /* filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(70,23,180,1), endColorstr=rgba(70,23,180,1))!important;
     background-image:-moz-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
     background-image:linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
     background-image:-webkit-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
     background-image:-o-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
     background-image:-ms-linear-gradient(left, rgba(70,23,180,1) 0%, rgba(70,23,180,1) 44%,rgba(70,23,180,0) 100%)!important;
     background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(70,23,180,1)), color-stop(44%,rgba(70,23,180,1)),color-stop(100%,rgba(70,23,180,0)))!important;
   */
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=rgba(0, 212, 59,0.6), endColorstr=rgba(0, 212, 59,0.6))!important;
    background-image:-moz-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image: linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-webkit-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-ms-linear-gradient(left, rgba(0, 212, 59,0.6) 0%, rgba(0, 212, 59,0.6) 44%,rgba(0, 212, 59,0) 100%)!important;
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(0, 212, 59,0.6)), color-stop(44%,rgba(0, 212, 59,0.6)),color-stop(100%,rgba(0, 212, 59,0)))!important;

    opacity:0.8;

    padding: 0;
    border: none !important;
    color: #fff !important;
    min-height: 1.25em;
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;

    margin-left:3px!important;
    white-space: nowrap;

    padding-left: 4.8em !important;
    padding-top: 0.2em !important;

    padding-bottom: 0.69em !important;
    padding-right: 2.5em !important;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.draggedlistelement li a h3{
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: .45em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    color: #fff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/;
}

.draggedlistelement li a p{
    font-size: .75em;
    font-weight: normal;
    display: block;
    margin: .6em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.draggedlistelement li a img.ui-li-icon{
    left: 5px !important;
    top: .9em !important;
}

.draggedlistelement li a img{
    position: absolute !important;

    background-size:100%;
    text-align: left;
    white-space: nowrap;
    line-height: 1.3;
    height: 4em !important;
    width: 4em !important;
    -webkit-transform: scale(1);
    transform: scale(1)!important;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%!important;
}

.draggedlistelement li  a:after {
    display: none;
}






/* Animation */

/*Spinning CoverImage */
@-moz-keyframes spin {
    0% {  transform:rotateY(0deg) scale(1.23);  -moz-transform: rotateY(0deg) scale(1.23);}
    40% {  transform:rotateY(45deg) scale(1.23);  -moz-transform: rotateY(45deg) scale(1.23);}
    70% { transform:rotateY(360deg) scale(1.23); -moz-transform: rotateY(360deg)  scale(1.23); }
    100% { transform:rotateY(360deg) scale(1.23); -moz-transform: rotateY(360deg)  scale(1.23); }

}

@-webkit-keyframes spin {
    0% { transform:rotateY(0deg) scale(1.22);  -webkit-transform: rotateY(0deg) scale(1.22);}
    40% { transform:rotateY(45deg) scale(1.22); -webkit-transform: rotateY(45deg) scale(1.22);}
    70% { transform:rotateY(360deg) scale(1.22);  -webkit-transform: rotateY(360deg) scale(1.22); }
    100% { transform:rotateY(360deg) scale(1.22);  -webkit-transform: rotateY(360deg) scale(1.22);  }
}

@keyframes spin{
    0% { transform:rotateY(0deg) scale(1.23); }
    40% { transform:rotateY(45deg) scale(1.23); }
    70% { transform:rotateY(360deg) scale(1.23); }
    100% { transform:rotateY(360deg) scale(1.23); }
}




