/**
 * theme.css.
 *
 * >>Description<<
 *
 * @author Manfred
 * @date 01.03.14 - 10:35
 * @copyright munichDev UG
 */

/*make sure the viewport is 100% height*/
html, body, #page, #content {
    height: 100%;
    overflow: hidden !important;
}

#page {
    background: #000 !important;

}

.ui-btn, label.ui-btn {
    font-weight: 400 !important;
}

#page, .ui-panel {
    min-height: 0px !important;
}

#header .ui-title {
    margin: 2px 45px -1px !important;
    color: #fff !important;
    text-align: left !important;
}

#header {
    background: rgba(29, 29, 29, 0.9) !important;
}

.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 1.2em !important;
    padding: .4em 0 !important;
}

#leftpanel {
    top: 45px !important;
    /*width: 200px!important;*/
}

#rightpanel {
    top: 45px !important;
}

.ui-content .ui-listview {
    margin: 0px !important;
}

.ui-header-fixed .ui-btn {
    padding-top: 9px;
    margin-top: 1px !important;

}

/*Player*/

/*Header*/

/* Header height to avoid icon bounce and scale */

.ui-header-fixed {
    height: 44px !important;
    left: 0 !important;
    right: 0 !important;
    position: fixed !important;
    z-index: 1000 !important;
    top: -1px !important;
    padding-top: 1px !important;
}

/*Popup*/
.ui-popup-container {
    z-index: 1000000;

    -webkit-border-radius: .3125em /*{global-radii-blocks}*/ !important;
    border-radius: .3125em /*{global-radii-blocks}*/ !important;

}

/*Panel*/

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay {
    -webkit-transform: translate3d(25em, 0, 0) !important;
    -moz-transform: translate3d(25em, 0, 0) !important;
    transform: translate3d(25em, 0, 0) !important;
}

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay.ui-panel-open {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.ui-panel-dismiss {
    display: none !important;
}

/*Select Drop Down*/

.chosen-drop {
    opacity: 0 !important;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.chosen-drop.visible {
    opacity: 1 !important;
    pointer-events:auto!important;
}

.chosen-container .chosen-results li {
    line-height: 30px !important;

}

.chosen-container {
    font-size: 16px !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding: 7px 25px 6px 5px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/cross.png) no-repeat;
    background-size: 18px;
    font-size: 1px;
    opacity: 0.8;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #333 !important;
    background-image: none !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: 0px 0px !important;
    opacity: 1;
}

#playlistselectvertical .result-selected {
    text-shadow: none !important;
}

.mejs-overlay-button, .mejs-overlay-loading, .mejs-overlay-error {
    opacity: 0 !important;
}

/*
.mejs-overlay-play{
    background-color: #fff;
    opacity:0.1;
}
  */

/* CHOOSEN */

.chosen-container .chosen-drop {
    border: none !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-color: #FAFAFA !important;
    background-image: none !important;
    -webkit-transition:all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.chosen-container-multi .chosen-choices li.search-choice:hover {
    background-color: rgba(210, 210, 210, 0.29) !important;
    background-image: none !important;
    border-color: rgba(44, 44, 44, 0.80) !important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.chosen-container-multi .chosen-choices li.search-choice span {
    text-shadow: none !important;
    -webkit-transition: text-shadow 0.3s ease;
    -moz-transition: text-shadow 0.3s ease;
    -o-transition: text-shadow 0.3s ease;
    transition: text-shadow 0.3s ease;
}


/*Facebook */

.facebookLogin {
    background: -webkit-linear-gradient(#4c69ba, #3b55a0) !important;
    border-color: #4c69ba !important;
}


/* POPUP*/

.ui-popup-hidden {
     visibility: visible!important;
}

.ui-popup-truncate {
    height: auto!important;
    width: auto!important;
    overflow: visible!important;
    clip: auto!important;
    left: -2000px!important;
}


