.fbb-like {
    margin-top: -39px;
}

.fbloginbutton{
    border-color: #7099db #3153a6 #2c4892!important;
    background: linear-gradient(#5078c2,#3a5cac)!important;
    background: -webkit-linear-gradient(#5078c2,#3a5cac)!important;
    background-color: #466bb8!important;
    color: #fff!important;
    text-shadow: 0 -1px rgba(0,0,0,.15)!important;
    font-size: 13px!important;
    line-height: 24px!important;
    padding-left: 3em!important;
    padding-right: 0!important;
}

.fbloginbutton:active{
    border-color: #32529d!important;
    background: #32529d!important;
    box-shadow: 0 2px rgba(0,0,0,.15) inset!important;
}

.fbloginbutton:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    content: '';
    border-right: 1px solid #365791;
    background: url(../img/fblogin.png);
    background-size: 40px;

    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAeCAQAAABgMj2kAAAAp0lEQ…MFP1QJKvnPRkDJn7dAp+BX8vMKyB/8eK3ZQtegG1VCphIA77y5/WR5BYoAAAAASUVORK5CYII=) 50% no-repeat;
     */
    box-shadow: 1px 0 #577cbd;

}


.fbloginbutton:after {

background:none!important;
 box-shadow: none!important;
}



.fbnativeloginButton{
    overflow: hidden;
}

/*
.fbnativeloginButton iframe{
 margin-top:-25px;
} */

#fbblike{
    height: 55px!important;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    margin-top: -12px;
    margin-right: 4px;
    -webkit-transform: scale(0.80);
    -webkit-transform-origin: 100% 100%!important;
    transform: scale(0.80);
    transform-origin: 100% 100%!important;
}

#popupArtist .fb-like{
    margin-top: 1px;
    float: right;
}

#popupArtist .fb_iframe_widget iframe {
    bottom: 0!important;

}



.fbliketitle{

    display: inline-block;
    float: left;
    margin: 3px 10px 2px 0;
    color: #000!important;
    line-height: 1.2!important;
    font-size: 14px!important;
    min-height: 0em!important;
    /* max-width: 148px; */
    font-weight: bold;
    text-align: center;
    max-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis!important;
    text-shadow: #ffffff 0px 0px 8px;
}


.fblikeartisttitle{
    margin-top: 2px;
    left: 144px;

}

.fblikeartistartist{
    left: 144px;
}


.fbpluginrecommendationsbarright {
    right: 2px!important;
    bottom: 12px!important;
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeincomplete ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeincomplete ease-in 1;
    animation: fadeincomplete ease-in 1;

    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation-fill-mode: forwards; /*IE 10+*/
    animation-fill-mode: forwards; /*when the spec is finished*/

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}