/**
 * theme.css.
 *
 * >>Description<<
 *
 * @author Manfred
 * @date 01.03.14 - 10:35
 * @copyright munichDev UG
 */

/*make sure the viewport is 100% height*/
html, body, #page, #content {
    height: 100%;
    overflow: hidden !important;
}


.ui-btn, label.ui-btn {
    font-weight:400!important;
}
#page, .ui-panel {
    min-height: 0px !important;
}

#header .ui-title {
    margin: 2px 45px -1px !important;
    color: #fff !important;
    text-align: left !important;
}
#header{
    background:rgba(29,29,29,0.9)!important;
}

.ui-header .ui-title, .ui-footer .ui-title {
font-size: 1.2em!important;
padding: .4em 0!important;
}


#leftpanel {
    top: 45px !important;
    /*width: 200px!important;*/
}

#rightpanel {
    top: 45px !important;
}

.ui-content .ui-listview {
    margin: 0px !important;
}


.ui-header-fixed .ui-btn{
    margin-top: 1px!important;

}


/*Player*/

.mejs-overlay-loading {
    background: none !important;
}

.mejs-controls .mejs-play button.looped {
    background-position: -64px 0px !important;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #fff !important;
    background: rgb(255, 255, 255) !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(200, 200, 200))) !important;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200)) !important;
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200)) !important;
    background: -o-linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200)) !important;
    background: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(200, 200, 200)) !important;
    background: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 200)) !important;
    width: 0;
}

.mejs-controls .mejs-shuffle-off button {
    background-position: -32px 0px !important;
}

/*Header*/

/* Header height to avoid icon bounce and scale */

.ui-header-fixed {
    height: 44px !important;
    left: 0 !important;
    right: 0 !important;
    position: fixed !important;
    z-index: 1000 !important;
    top: -1px !important;
    padding-top: 1px !important;
}

/*Listview*/
#searchlist .iScrollVerticalScrollbar {
    left: 0px !important;
    right: auto !important;

}

#playlistInner .iScrollVerticalScrollbar {
    right: 0px !important;
    left: auto !important;
}

.iScrollVerticalScrollbar {
overflow: visible!important;
padding-top: 5px!important;
margin-bottom: 5px!important;
}

.iScrollPlayIndicator{
    pointer-events:auto;
    opacity:0.8!important;


    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;

    border-left: 10px solid rgba(78,183,212,0.8);
}


.ui-li-has-icon img {
    max-height: 3.3em !important;
    max-width: 3.3em !important;
    margin-top: -0.5em !important;
}

.ui-li-has-icon a {
    padding-left: 4.8em !important;
    padding-top: 0.2em !important;

}

#searchlist .ui-btn-icon-right {
    padding-right: 0px !important;
}

#playlistInner .ui-btn-icon-right {
    margin-right: 8px;
    padding-right: 0px;
}

/*Popup*/
.ui-popup-container {
    z-index: 1000000;

    -webkit-border-radius: .3125em /*{global-radii-blocks}*/!important;
    border-radius: .3125em /*{global-radii-blocks}*/!important;

}



/*Panel*/

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay {
    -webkit-transform: translate3d(25em, 0, 0) !important;
    -moz-transform: translate3d(25em, 0, 0) !important;
    transform: translate3d(25em, 0, 0) !important;
}

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay.ui-panel-open {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.ui-panel-dismiss {
    display: none !important;
}

/*Select Drop Down*/
.chosen-container .chosen-results li {
    line-height: 30px !important;

}

.chosen-container {
    font-size: 16px !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding: 7px 25px 6px 5px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/cross.png) no-repeat;
    background-size: 18px;
    font-size: 1px;
    opacity: 0.8;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #333!important;
    background-image:none!important;
}




.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: 0px 0px !important;
    opacity: 1;
}

#playlistselectvertical .result-selected {
    text-shadow: none !important;
}

.mejs-overlay-button, .mejs-overlay-loading, .mejs-overlay-error {
    opacity: 0 !important;
}



/*
.mejs-overlay-play{
    background-color: #fff;
    opacity:0.1;
}
  */



/* CHOOSEN */


.chosen-container .chosen-drop{
    border: none!important;
}