/**
 * theme.css.
 *
 * >>Description<<
 *
 * @author Manfred
 * @date 01.03.14 - 10:35
 * @copyright munichDev UG
 */

/*make sure the viewport is 100% height*/
html, body {
    height : 100%;
    overflow:hidden;
}
#page, .ui-panel{
    min-height:0px!important;
}

#header .ui-title {
    margin: 2px 50px -1px!important;
    color: #fff!important;
    text-align: left!important;
}



#leftpanel {
    top: 45px!important;
    /*width: 200px!important;*/
}

#rightpanel {
    top: 45px!important;
}


.ui-content .ui-listview{
  margin:0px!important;
}


/*Player*/

.mejs-overlay-loading{
    background:none!important;
}



/*Header*/

/* Header height to avoid icon bounce and scale */

.ui-header-fixed{
    height: 44px!important;
    left: 0!important;
    right: 0!important;
    width: 100%!important;
    position: fixed!important;
    z-index: 1000!important;
    top: -1px!important;
    padding-top: 1px!important;
}




/*Listview*/
#searchlist .iScrollVerticalScrollbar{
    left:0px!important;
    right:auto!important;
}

#playlistInner .iScrollVerticalScrollbar{
    right:0px!important;
    left:auto!important;
}

.ui-li-has-icon img {
    max-height: 2em!important;
    max-width: 2em!important;
    margin-top: -0.5em!important;
}

.ui-li-has-icon a {
    padding-left: 3.5em!important;
    padding-top: 0.8em!important;

}

#searchlist .ui-btn-icon-right{
    padding-right:0px!important;
}

#playlistInner .ui-btn-icon-right{
    margin-right:8px;
    padding-right:0px;
}




/*Panel*/
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay{
    -webkit-transform: translate3d(25em,0,0)!important;
    -moz-transform: translate3d(25em,0,0)!important;
    transform: translate3d(25em,0,0)!important;
}
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay.ui-panel-open{
    -webkit-transform: translate3d(0,0,0)!important;
    -moz-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
}

.ui-panel-dismiss{
    display:none!important;
}

/*Select Drop Down*/
.chosen-container .chosen-results li {
    line-height: 30px!important;

}
.chosen-container {
    font-size: 16px!important;
}



.chosen-container-multi .chosen-choices li.search-choice {
    padding: 7px 25px 6px 5px!important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/cross.png) no-repeat;
    background-size: 18px;
    font-size: 1px;
    opacity:0.8;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: 0px 0px!important;
    opacity:1;
}


#playlistselectvertical .result-selected{
    text-shadow:none!important;
}

.mejs-overlay-button,.mejs-overlay-loading,.mejs-overlay-error{
    display:none!important;
}
.mejs-overlay-play{
    background-color: #fff;
    opacity:0.1;
}
